<% include ../partials/header %>

<div class="ui main container text segment">
    <div class="ui huge header"><%= post.title %></div>
    <span class="ui header green">Submitted by <em> <%= post.author.username %> </em> </span>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui image centered rounded" src="<%= post.image %>" alt="image">
            
            <span><%= post.created.getDate() %>. <%= post.created.getMonth() %>. <%= post.created.getFullYear() %></span>
            <span><%= post.created.getHours() %>: <%= post.created.getMinutes() %></span>
               
            <p><%- post.body %></p>
        </div>
    </div>
    <!-- here we also check user ownership to show or hide the buttons.
        We can use currentUser because of the middleware in app.js (line 41) -->
    <%if(currentUser && post.author.id &&  (post.author.id.equals(currentUser._id)|| currentUser.roles.includes('admin'))){ %>
        <a class="ui button orange basic" href="/posts/<%=post._id%>/edit">Edit</a>
        <form id="delete" action="/posts/<%=post._id%>/?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    <% } %>    
    <div class="ui divided items">
        <% post.comments.forEach(comment => { %>
            <div class="item">
                <div class="description">
                    <strong><%= comment.author.username %></strong> - <%= comment.text %>
                </div>    

                <% if(currentUser && comment.author.id && (comment.author.id.equals(currentUser._id) || currentUser.roles.includes('admin'))){ %>
                    <a class="ui button orange mini inverted" 
                    href="/posts/<%=post._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    <form id="delete" action="/posts/<%=post._id%>/comments/<%=comment._id%>/?_method=DELETE" method="POST">
                        <button class="ui button red mini inverted ">Delete</button>
                    </form>
                <% } %>
            </div>
        <% }); %>
        <div class="item">
            <div class="meta"><a class="ui button blue " href="/posts/<%=post._id%>/comments/new"> New Comment </a></div>
        </div>
    </div>

   
</div>




<% include ../partials/footer %>